* {
  box-sizing: border-box;
}

html {
  font-size: $font-size;
}

body {
  color: $text-color;
  background: $white;
  font-family: $font-sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 2px;
  margin: 0;
}

p {
  letter-spacing: 1px;
  line-height: 1.7;
  margin: 0;
}

a {
  color: $primary-color;
  cursor: pointer;
  text-decoration: none;
}

ul,
ol {
  letter-spacing: 1px;
  line-height: 1.7;
  margin: 0 0 0 1rem;
  padding: 0;
}

input,
textarea,
select {
  appearance: none;
  background-color: transparent;
  border: 1px solid $gray-light;
  border-radius: 0;
  display: block;
  padding: 0.75rem 1rem;
  margin-bottom: 0.25rem;
  width: 100%;
  resize: none;
  &:focus {
    outline: none;
  }
}

textarea {
  height: 200px;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}
