.about {
  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      'image'
      'text';
    grid-gap: 2rem;
    @include bp-md {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: 'text image';
      grid-gap: 4rem;
    }
  }

  .grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include bp-md {
      align-items: flex-start;
    }

    &.text {
      grid-area: text;
    }

    &.image {
      grid-area: image;
    }
  }
}
