.home {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
  }

  .grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .reviews {
    background-color: $primary-color;
    color: $white;
    text-align: center;
  }
}
