// Colors
$orange-soda: #fc5f3c;
$licorice: #141414;

$black: #111;
$white: #fff;
$gray: #777;
$gray-light: #d1d1d1;
$gray-dark: #444;

$light-color: #f7f7f7;
$dark-color: #222;

$primary-color: $orange-soda;
$secondary-color: $licorice;

$text-color: $gray;

// Typography
@import url('https://fonts.googleapis.com/css?family=Catamaran&display=swap');

$font-sans-serif: 'Catamaran', verdana, sans-serif;
$font-serif: sans-serif;
$font-size: 16px;

// Animation
$transition-speed-normal: 0.25s;

// Media Query Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
