.section {
  padding-top: 4rem;
  &:last-child {
    padding-bottom: 4rem;
  }
  @include bp-md {
    padding-top: 6rem;
    &:last-child {
      padding-bottom: 6rem;
    }
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 1rem;
  }
}
